.navbar-custom {
    background-color: #E90B0B;
    padding: 15px 20px; 
    height: 90px;
}
.footer-custom {
    background-color: #E90B0B;
    color: white;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: left;
    height: 70px;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-custom a {
    color: white; /* Cambia el color del texto de los enlaces a blanco */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    margin-left: 40px;
}
.footer-custom a:hover {
    text-decoration: underline; /* Añade un subrayado al pasar el mouse por encima */
}
.content-area {
    padding-top: 95px; 
    padding-bottom: 90px;
    min-height: calc(100vh - 165px);
    width: 70%;
    margin: 0 auto;
}

#ajax-content {
    overflow: auto;
}

.navbar-nav .nav-link {
    color: white !important;
    font-size: 1.6rem; 
    margin: 0 60px; /* Añade espacio entre los enlaces */
    padding: 0; 
}
.navbar-nav .nav-link:hover {
    color: #ddd !important;
}
.nav-link.active {
    border-bottom: 3px solid white; /* Añade una línea blanca debajo del enlace activo */
    color: white !important; /* Asegura que el texto del enlace activo siga siendo blanco */
}

/* Estilos personalizados para los tooltips */
.tooltip-container {
    position: relative;
    display: inline-block;
}
.tooltip-container .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente */
    color: #333; /* Texto en gris oscuro */
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 80%; /* Posición arriba del icono */
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip-container .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%; /* Flecha del tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.8) transparent transparent transparent; /* Flecha blanca */
}
.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}


